/********************** Estilos Varios ************************/
.colorBlanco{color: #ffffff;}
.colorVerde{color: #334137;}
.colorDorado{color: #cd915f;}
.lh{ line-height: 1;}
.textoBold{ font-weight: 800;}
@media (max-width: 575.98px) {
    .p0small{padding: 0 !important;}}
@media (max-width: 767.98px) {
    .visibleMD{display: none !important;}}
@media (min-width: 768px) { 
    .visibleSM{display: none !important;}}
@media (max-width: 991.98px) {
    .visibleMovilBanner{display: none !important;}}
@media (min-width: 992px) { 
    .visibleEscritorioBanner{display: none !important;}}
/********************** Fin Estilos Varios ********************/

/********************** Estilos Banner ************************/
.fondoBanner{
    background-image: url("../img/ab-Bg-header.jpg");    
    background-position: top center; 
    height: 100%;}
.fondoCuadroVerde{
    background-color: rgba(51, 65, 55, 0.9);
    border-right: 2rem solid #f9a94b;
    padding-top: 5rem;
    padding-bottom: 5rem;  
    position: absolute !important;
    bottom: -10%;}
.TextoBanne1{font-size: 2rem;}
.TextoBanne2{font-size: 8rem;}
.TextoBanne3{font-size: 4rem;}
.fondoFormulario{background-color: #d7c8a5;}
.textoFormulario1{font-size: 1.8rem;}
.textoFormulario2{font-size: 1.1rem;}
input{
    height: 2.5rem;
    padding-left: 0.8rem;
    border: 1px solid #d2a072;
    color: #a0a0a0;}
.textoFormulario3{font-size: 0.7rem;}
.botonForm{
    background-color: #334137;
    border: 1px solid #ad865d;
    font-size: 2rem;}
.fondoCuadroVerdeMovil{
    background-color: rgba(51, 65, 55, 0.9);
    border-right: 2rem solid #f9a94b;
    padding-top: 5rem;
    padding-bottom: 5rem;}
@media (max-width: 575.98px) { 
    .TextoBanne1{font-size: 1.25rem;}
    .TextoBanne2{font-size: 4rem;}
    .TextoBanne3{font-size: 2.25rem;}
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .TextoBanne1{font-size: 1.6rem;}
    .TextoBanne2{font-size: 6rem;}
    .TextoBanne3{font-size: 3rem;}
}
@media (max-width: 991.98px) {
    .formularioMovil{justify-content: center !important;}}
@media (min-width: 992px) { 
    .formularioMovil{justify-content: end !important;}}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .TextoBanne1{font-size: 1.6rem;}
    .TextoBanne2{font-size: 6rem;}
    .TextoBanne3{font-size: 3rem;}
    .textoFormulario1{font-size: 1.4rem;}
    .textoFormulario2{font-size: 0.85rem;}}
@media (min-width: 1200px) and (max-width: 1359.98px) { 
    .TextoBanne1{font-size: 1.8rem;}
    .TextoBanne2{font-size: 7rem;}
    .TextoBanne3{font-size: 3.5rem;}
    .textoFormulario1{font-size: 1.5rem;}
    .textoFormulario2{font-size: 0.9rem;}}
/********************** Fin Estilos Banner ********************/

/******************** Estilos Seccion 2 ***********************/
.fondoSeccion2{
    background-image: url("../img/ab-bg-rates.jpg"); 
    background-repeat: no-repeat;   
    background-position: top right; 
    height: 100%;
    padding-top: 5rem;
    padding-bottom: 4rem;}
.texto1Seccion2{color: #cd915f;font-size: 2rem;}
.texto2Seccion2{color: #f9a94b;font-size: 3rem;}
.texto3Seccion2{color: #f9a94b;font-size: 2rem;}
@media (max-width: 575.98px) { 
    .texto1Seccion2{font-size: 1rem;}
    .texto2Seccion2{font-size: 1.5rem;}
    .texto3Seccion2{font-size: 1rem;}}
@media (min-width: 576px) and (max-width: 767.98px) {
    .texto1Seccion2{font-size: 1.75rem;}
    .texto2Seccion2{font-size: 2.5rem;}
    .texto3Seccion2{font-size: 1.75rem;}}
/******************* Fin Estilos Seccion 2 ********************/

/******************** Estilos Seccion 3 ***********************/
.fondoSeccion3{ background-color: #d7c8a5;}
.texto1Seccion3{ font-size: 3rem;}
.seccion3-1{ position: absolute !important; left: -15%;}
.cuadroSeccion3{
    border-top: 10px solid #fff;
    border-left: 10px solid #fff;
    border-bottom: 10px solid #fff;    
    padding-left: 5rem !important;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    padding-right: 2rem !important;}
.bordeDerecho{ border-left: 10px solid #fff; height: 3rem;}
.bordeSuperiorDerecho{margin-bottom: 6.6rem;}
.bordeInferiorDerecho{margin-top: 6.65rem;}
.seccion3{position: absolute !important; bottom: 12%;}
.texto2Seccion3{ font-size: 1.5rem;}
@media (max-width: 459.98px) { 
    .texto1Seccion3{ font-size: 1rem;}
    .bordeSuperiorDerecho{margin-bottom: 1rem;}
    .bordeInferiorDerecho{margin-top: 0.75rem;}
}
@media (min-width: 460px) and (max-width: 575.98px) { 
    .texto1Seccion3{ font-size: 1.25rem;}
    .bordeSuperiorDerecho{margin-bottom: 1.4rem;}
    .bordeInferiorDerecho{margin-top: 1.3rem;}
}
@media (max-width: 575.98px) { 
    .seccion3-1{ bottom: 35%;}
    .cuadroSeccion3{  
        padding-left: 0.8rem !important;
        padding-top: 0.5rem !important;
        padding-bottom: 0.5rem !important;
        padding-right: 0.3rem !important;
        border-top: 4px solid #fff;
        border-left: 4px solid #fff;
        border-bottom: 4px solid #fff;}
    .bordeDerecho{ border-left: 4px solid #fff; height: 2rem;}
    .texto2Seccion3{ font-size: 0.5rem;}
    .seccion3{bottom: 15%;}}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .seccion3-1{ bottom: 35%;}
    .texto1Seccion3{ font-size: 1.55rem;}
    .cuadroSeccion3{  
        padding-left: 1.8rem !important;
        padding-top: 1rem !important;
        padding-bottom: 1rem !important;
        padding-right: 0.5rem !important;
        border-top: 6px solid #fff;
        border-left: 6px solid #fff;
        border-bottom: 6px solid #fff;}
    .bordeDerecho{ border-left: 6px solid #fff; height: 2rem;}
    .bordeSuperiorDerecho{margin-bottom: 2.65rem;}
    .bordeInferiorDerecho{margin-top: 2.45rem;}
    .texto2Seccion3{ font-size: 0.7rem;}
    .seccion3{bottom: 20%;}}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .texto1Seccion3{ font-size: 2rem;}
    .cuadroSeccion3{  
        padding-left: 2.5rem !important;
        padding-top: 1.5rem !important;
        padding-bottom: 1.5rem !important;
        padding-right: 1rem !important;}
    .bordeSuperiorDerecho{margin-bottom: 3.2rem;}
    .bordeInferiorDerecho{margin-top: 3.2rem;}
    .texto2Seccion3{ font-size: 0.9rem;}}
@media (min-width: 992px) and (max-width: 1099.98px) {
    .texto1Seccion3{ font-size: 2.2rem;}
    .cuadroSeccion3{  
        padding-left: 3rem !important;
        padding-top: 2rem !important;
        padding-bottom: 2rem !important;
        padding-right: 1.5rem !important;}
    .bordeSuperiorDerecho{margin-bottom: 4.1rem;}
    .bordeInferiorDerecho{margin-top: 4.1rem;}
    .texto2Seccion3{ font-size: 1.1rem;}}
@media (min-width: 1100px) and (max-width: 1200.98px) { 
    .texto1Seccion3{ font-size: 2.6rem;}
    .cuadroSeccion3{  
        padding-left: 4rem !important;
        padding-top: 2.5rem !important;
        padding-bottom: 2.5rem !important;
        padding-right: 1.8rem !important;}
    .bordeSuperiorDerecho{margin-bottom: 5.4rem;}
    .bordeInferiorDerecho{margin-top: 5.3rem;}
    .texto2Seccion3{ font-size: 1.3rem;}}
/******************* Fin Estilos Seccion 3 ********************/

/******************** Estilos Seccion 4 ***********************/
.seccion4{padding-bottom: 10rem !important;}
.seccion4absolute{position: absolute !important; top: -12%;}
.cuadro1Seccion4{background-color: #c7b299; box-shadow: 0px 1px 3px #4f4f4f; max-height: 11.5rem;}
.cuadro2Seccion4{background-color: #f9a94b; box-shadow: 0px 1px 3px #4f4f4f; max-height: 11.5rem;}
.cuadro3Seccion4{background-color: #cd915f; box-shadow: 0px 1px 3px #4f4f4f; max-height: 11.5rem;}
.texto1Seccion4{font-size: 1.1rem;}
.texto2Seccion4{font-size: 0.7rem;}
.texto3seccion4{font-size: 1rem;}
@media (max-width: 575.98px) { 
    .seccion4absolute{top: -5%;}
    .maxHMovil{max-height: 10rem;}
    .texto1Seccion4{font-size: 0.6rem;}
    .texto2Seccion4{font-size: 0.55rem;}}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .texto1Seccion4{font-size: 0.8rem;}}
/******************* Fin Estilos Seccion 4 ********************/

/******************** Estilos Seccion 5 ***********************/
.fondoSeccion5{background-color: #f5f5f5;}
.pbSeccion5{padding-bottom: 6rem;}
.texto1Seccion5{font-size: 1.5rem;}
.texto2Seccion5{font-size: 3rem;}
.cuadrosAbsolutosSeccion5{position: absolute !important;bottom: 12%;}
.cuadroSeccion5{background-color: #d7c8a5;box-shadow: 0px 1px 3px #4f4f4f;}
.text3Seccion5{font-size: 0.8rem;}
.seccion5movil{position: absolute !important;top: 26%;}
.seccion5movil2{position: absolute !important;bottom: -8%;}
@media (max-width: 469.98px) { 
    .texto1Seccion5{font-size: 0.9rem;}
    .texto2Seccion5{font-size: 1.8rem;}
    .text3Seccion5{font-size: 0.55rem;}}
@media (min-width: 470px) and (max-width: 575.98px) { 
    .texto1Seccion5{font-size: 1rem;}
    .texto2Seccion5{font-size: 2rem;}
    .text3Seccion5{font-size: 0.8rem;}}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .text3Seccion5{font-size: 1rem;}}  
@media (min-width: 768px) and (max-width: 991.98px) { 
    .texto1Seccion5{font-size: 1.3rem;}
    .texto2Seccion5{font-size: 2.5rem;}
    .text3Seccion5{font-size: 0.6rem;}}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .text3Seccion5{font-size: 0.7rem;}}
/******************* Fin Estilos Seccion 5 ********************/

/******************** Estilos Footer 3 ***********************/
footer{ background-color: #334137;}
.bordeFooter{border-top: 1px solid #cd915f;}
.textoFooter1{font-size: 1rem;}
.textoFooter2{font-size: 1.2rem;}
.textoFooter3{font-size: 1.1rem;}
.iconosFooter{width: 1rem;}
.textoFooter4{font-size: 0.8rem;}
.footerJustificado{justify-content: space-between;}
@media (max-width: 575.98px) {
    .footerJustificado{padding: 0 !important;}
    .maxWFooter{max-width: 12rem !important;}
    .textoFooter1{font-size: 1rem;}
    .textoFooter2{font-size: 0.75rem;}
    .textoFooter3{font-size: 0.8rem;}}
@media (min-width: 576px) and (max-width: 767.98px) { 
    .textoFooter2{font-size: 1rem;}
    .textoFooter3{font-size: 1.1rem;}
    .maxWFooter{max-width: 16rem !important;}}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .maxWFooter{max-width: 17rem !important;}
    .textoFooter2{font-size: 1.1rem;}}
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .maxWFooter{max-width: 18rem !important;}}
@media (min-width: 1200px) and (max-width: 1300px) { 
    .textoFooter2{font-size: 1rem;}}

/******************* Fin Estilos Footer 3 ********************/
